# Streamlit for UI
streamlit

# PyTorch (CPU version, since Streamlit Community Cloud does not support GPUs)
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

# PyTorch Lightning
pytorch-lightning

# Handling Pickle Files
pickle5  # Only if needed, otherwise remove

# NLP Libraries (if needed)
spacy
  # If you use it for Vietnamese tokenization

# Google Drive file download
gdown

pip==23.2.1
setuptools
wheel
maturin
underthesea==6.8.4
