# Streamlit for UI
streamlit

# PyTorch (CPU version, since Streamlit Community Cloud does not support GPUs)
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1


# Handling Pickle Files

# NLP Libraries (if needed)
# spacy
# underthesea  # If you use it for Vietnamese tokenization


# For Streamlit File Handling
# watchdog

pickle
# Pytorch lightning

os
# load dataset from ggdrive
gdown

python 3.10.11
